# This action is centrally managed in https://github.com/asyncapi/.github/
# Don't make changes to this file in this repo as they will be overwritten with changes made to the same file in above mentioned repo.

name: Automerge PRs from bots

on:
  pull_request_target:
    types:
      - opened
      - synchronize

jobs:
  autoapprove-for-bot:
    name: Autoapprove PR comming from a bot
    if: >
      contains(fromJson('["asyncapi-bot", "dependabot[bot]", "dependabot-preview[bot]"]'), github.event.pull_request.user.login) &&
      contains(fromJson('["asyncapi-bot", "dependabot[bot]", "dependabot-preview[bot]"]'), github.actor) &&
      !contains(github.event.pull_request.labels.*.name, 'released')
    runs-on: ubuntu-latest
    steps:
      - name: Autoapproving
        uses: hmarr/auto-approve-action@f0939ea97e9205ef24d872e76833fa908a770363   # v4.0.0 is used https://github.com/hmarr/auto-approve-action/releases/tag/v4.0.0
        with:
          github-token: "${{ secrets.GH_TOKEN_BOT_EVE }}"

      - name: Label autoapproved
        uses: actions/github-script@v8
        with:
          github-token: ${{ secrets.GH_TOKEN }}
          script: |
            github.rest.issues.addLabels({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              labels: ['autoapproved', 'autoupdate']
            })

  automerge-for-bot:
    name: Automerge PR autoapproved by a bot
    needs: [autoapprove-for-bot]
    runs-on: ubuntu-latest
    steps:
      - name: Automerging
        uses: pascalgn/automerge-action@7961b8b5eec56cc088c140b56d864285eabd3f67 #v0.16.4 https://github.com/pascalgn/automerge-action/releases/tag/v0.16.4
        env:
          GITHUB_TOKEN: "${{ secrets.GH_TOKEN }}"
          GITHUB_LOGIN: asyncapi-bot
          MERGE_LABELS: "!do-not-merge"
          MERGE_METHOD: "squash"
          MERGE_COMMIT_MESSAGE: "{pullRequest.title} (#{pullRequest.number})"
          MERGE_RETRIES: "20"
          MERGE_RETRY_SLEEP: "30000"
